<body>
    <header style="color:dodgerblue">
        <nav class="t1">
            <ul>
             <li><b><a class="cap"><h1 style="font-size: 50px;color: blue;">Gadg</h1><h1 style="font-size: 50px;color: orange;">Eon</h1></a></b></li>
             <li class="cap1"><a href="#Home"><b>HOME</b></a></li>
             <li class="cap1"><a href="#about"><b>ABOUT</b></a></li>
             <li class="cap1"><a href="#Service"><b>SERVICE</b></a></li>
             <li class="cap1"><a href="#COTACT"><b>CONTACT</b></a></li>
            </ul> 
        </nav>
    </header>
    <div>
    <div class="container">
        <img src="../../assets/images/tech2.jpg" class="img-fluid" style="height:500px" style="width:100%">
    </div>
    <div class="container4">
        <p><b>Gadgeon is a new-gen technology consultancy and engineering services company enabling customer’s digital journey. Gadgeon is dedicated to building solid software systems that creates business value for enterprises. Our services include Product engineering, IoT Engineering, Embedded systems – hardware & Firmware, Enterprise application – integration & modernization, Full stack development, cloud & Mobile app development, data analytics with AI & ML, testing & automation, and Professional services. Gadgeon enables our customers to fully focus on high impact business transformation initiatives while the extended team from Gadgeon takes care of all engineering and operational activities.</b></p>
    </div>
    </div>

</body>
