<body>
    <header>
        <h1 style="font-size: 50px;color: blue;">Gadg</h1><h1 style="font-size: 50px;color: orange;">Eon</h1>
    </header>
<div class="container">
    <div class="container1">
        <img src="../../assets/images/tech2.jpg" class="img-fluid" style="height:400px">
        <h2>IoT Engineering</h2>
        <div class="con1">
            <p>Gadgeon provides end-to-end IoT engineering services from edge devices/sensors, cloud, to mobile/web applications. We serve enterprises, start-ups, and OEMs in connecting devices to IoT edge gateways communicating over different protocols. Gadgeon provides IoT software development and IoT software Services towards building Industrial as well as non-industrial IoT Solutions and services offered in different models such as SaaS, PaaS, etc. Our end-to-end solution testing, including test automation, makes sure that all the system components are tested and validated right from design to delivery stage.
            </p>
        </div>
    </div>
    <div class="container2">
        <img src="../../assets/images/tech6.jpg" class="img-fluid" style="height:400px">
        <h2>Product Engineering</h2>
        <div class="con1">
            <p>Our Product engineering services use hardware, embedded, software, and IT solutions for faster design, development, and launching of products. Today, lack of the right domain experience or technical expertise is not a barrier to building profitable products. Instead of relying on home grown talent and resources, which requires high investment in time and money, customers can leverage the expertise of product engineering service (PES) from Gadgeon</p>
        </div>
    </div>
    <div class="container3">
        <img src="../../assets/images/tech3.jpg" class="img-fluid" style="height:400px">
        <h2>Digitalization services</h2>
        <div class="con1">
            <p>Our digitalization services help the customers use new technology appropriately and allocate resources for optimal operational benefit. We prepare a digital strategy and roadmap for organizations. We bring the expertise to conceptualize and design technology-enabled services and governance approaches by synthesizing online and offline modes of operations.</p>
        </div>
    </div>
</div>
</body>
